@import "../base/_variables.scss";

.corpses {
  display: none;
  // opacity: 0;
  // transition: opacity 2.5s;
  text-align: center;
  padding: $main-padding 0;
  &__workshop,
  &__regenerate {
    margin: $main-padding;
    display: inline-block;
    width: auto;
    border: 1px dotted $text-color;
    padding: $main-padding * 0.5;
    // margin: 0 0 $main-padding * 0.5 0;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      background: $text-color;
      color: $background-color;
    }
    &:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }
    &:active {
      transform: scale(0.99);
    }
  }
  &__error {
    display: none;
    &.show {
      display: block;
      color: red;
    }
  }
}

.corpses.active {
  // opacity: 1;
  display: block;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .corpses {
    margin: 0 auto;
    width: 75%;
  }
}

@media (min-width: 960px) {
  .corpses {
    width: 50%;
  }
}

@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
