@import "../base/_variables.scss";
.wordlists {
  text-align: center;
  border: 1px dotted $text-color;
  padding: $main-padding;
  margin-bottom: $main-padding * 1.5;
  transition: all 0.5s ease-out;

  &.conceal {
    display: none;
  }
}

.generate {
  margin-bottom: $main-padding * 2;
  &.completed {
    display: none;
  }

  &__modifier.menu--settings,
  &__base.menu--settings {
    margin-bottom: $main-padding * 1.5;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .wordlists {
    width: 80%;

    .generate {
      &.completed {
        display: none;
      }
      &__generator {
        display: flex;
        flex-flow: row wrap;
        // text-align: center;
      }
      &__modifier.menu--settings,
      &__base.menu--settings {
        width: 50%;
        margin-bottom: 0;
      }
    }
  }
}
