@import "../base/_variables.scss";

.corpses {
  opacity: 0;
  transition: opacity 2.5s;
  -webkit-transition: opacity 2.5s;
  border: 1px dotted #333;
  padding: 1rem;
  &__links {
    color: $text-color;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: $main-padding * 0.5;
    transition: color 250ms ease-in-out;

    // cursor: pointer;
    text-align: center;
    &:hover,
    &.active {
      text-decoration: none;
      color: $primary-color;
      i {
        color: $text-color;
      }
    }
  }
  &__workshop {
    margin: $main-padding 0;
  }
  &__error {
    display: none;
    &.show {
      display: block;
      color: red;
    }
  }
}
.corpses.active {
  opacity: 1;
}
