@import "../base/_variables.scss";

.corpses {
  &__items {
    text-align: left;
  }
  &__links {
    display: inline-flex;
    vertical-align: middle;
    color: $text-color;
    text-decoration: none;
    font-size: 1rem;
    padding: $main-padding * 0.5;
    text-align: center;
    text-decoration: none;
    // de-style button
    background-color: transparent;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;

    &:hover,
    &:focus,
    &.active {
      color: $primary-color;
    }
    &:focus {
      outline: none;
    }
    &.active svg.MuiSvgIcon-root-1 {
      color: lighten($primary-color, 20%);
    }
    > svg {
      margin-right: $main-padding * 0.5;
    }
  }
}
