@import "../base/_variables.scss";

.corpses {
  &__items {
    text-align: left;
  }
  &__links {
    display: inline-flex;
    vertical-align: middle;
    color: $text-color;
    text-decoration: none;
    font-size: 1rem;
    padding: $main-padding * 0.5;
    text-align: center;
    text-decoration: none;
    // de-style button
    background-color: transparent;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;

    &:hover,
    &:focus,
    &.active {
      color: $primary-color;
    }
    &:focus {
      outline: none;
    }
    &.active svg.MuiSvgIcon-root-1 {
      color: lighten($primary-color, 20%);
    }
    > svg {
      margin-right: $main-padding * 0.5;
    }
  }
}

.tooltip {
  display: block;
  text-decoration: none;
  color: $text-color;
  svg {
    display: none;
  }
  margin-bottom: $main-padding;
}
.tooltip-inner {
  display: block;
  color: lighten($text-color, 20%);
  font-style: italic;
}
.wd {
  font-style: normal;
  &::after {
    content: ":";
  }
}

@media (min-width: 960px) {
  .tooltip {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    z-index: 999;
    color: lighten($text-color, 40%);
    margin-bottom: 0;
    svg {
      display: inline-block;
    }
  }

  /* Gap filler */
  .tooltip::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%);
  }

  .tooltip:hover::after {
    pointer-events: auto;
  }

  /* Tooltip */

  .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 300px;
    left: 50%;
    bottom: 100%;
    text-align: center;
    color: $background-color;
    background: transparent;
    opacity: 0;
    margin: 0 0 20px -150px;
    cursor: default;
    pointer-events: none;
    transition: opacity 0.3s 0.3s;
  }

  .tooltip:hover .tooltip-content {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0s;
  }

  .tooltip-content span {
    display: block;
  }

  .tooltip-text {
    border-bottom: 10px solid $primary-color;
    overflow: hidden;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s 0.3s;
  }

  .tooltip:hover .tooltip-text {
    transition-delay: 0s;
    transform: scale3d(1, 1, 1);
  }

  .tooltip-inner {
    background: rgba(22, 22, 22, 0.95);
    color: $background-color;
    padding: 40px;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s;
    .wd {
      color: $primary-color;
      font-weight: bold;
      text-transform: uppercase;
      &:last-child {
        margin-top: $main-padding * 0.5;
      }
    }
  }

  .tooltip:hover .tooltip-inner {
    transition-delay: 0.3s;
    transform: translate3d(0, 0, 0);
  }

  /* Arrow */

  .tooltip-content::after {
    content: "";
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: $primary-color;
    border-width: 10px;
    margin-left: -10px;
  }
}
