@import "_normalize";
@import "variables";

/* ==== BASE ==== */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  background: $background-color;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}
.container {
  padding-left: $main-padding;
  padding-right: $main-padding;
  margin: 0 auto;
}
.menu--settings {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
a {
  transition: all 250ms ease-in-out;
}

/* ---- Visibility ---- */
.show--screenreaders,
.show--focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

/* ==== LAYOUT ==== */

.sitehead {
  padding: $main-padding * 2;
}
.main {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: $main-padding * 5;
  justify-content: center;
}

// MEDIA QUERIES
@media (min-width: 768px) {
}

@media (min-width: 960px) {
  .container {
    max-width: 930px;
  }
}

// @media (min-width: 1200px)
// @media (min-width: 1440px)
